.slider-container {
    overflow: hidden;
    width: 100%;
    height: 200px; 
    position: relative;
}

.slider-images {
    display: flex;
    transition: transform 20s ease;
}

.slider-image {
    flex: 0 0 auto;
    width: 300px; 
    height: auto;
    transition: opacity 20s ease;
}
